li 
    a(href="/api/productos") Productos 
    a(href="/api/productos/form") Cargar Productos
br

h1="Ingres un productos"

form(role='form' method="post" action="/api/productos")
    table
        tr
            td 
                strong="Title"
            td
                strong="Price"
            td
                strong="Thumbnail"
        tr
            td 
                input(type="text" id="title" name="title")
            td 
                input(type="number" id="price" name="price")
            td 
                input(type="text" id="thumbnail" name="thumbnail")    
    input(type="submit")
