<br>

<div>
    <a href="/api/productos-test">Productos Random</a>
</div>

<br>

<table id="productsTable" style="border: #b2b2b2 1px solid;">

</table>

<br>

<h3>Chat</h3>
<p>Envie sus mensajes.</p>
<form onsubmit="enviarMsg();return false;">
    <input id="input-nombre" placeholder="Nombre" required="true" />
    <input id="input-apellido" placeholder="Apellido" required="true" />
    <input id="input-edad" placeholder="Edad" required="true" />
    <input id="input-alias" placeholder="Alias" required="true" />
    <input id="input-email" placeholder="E-mail" required="true"/><br />
    <input id="input-msg" placeholder="Mensaje" required="true"/>
    <input type="submit" value="ENVIAR!" />
</form>

<br />
<div id="div-list-msgs"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="./index.js"></script>